<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>chatbot</title>
        <link rel="stylesheet" href="../static/css/chatbot.css">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="../static/js/chatbot.js"></script>
    </head>

    <body>
        <div class="row" id="container">
            <div class="col-md-3 offset-md-3">
            <div class="card" id="chatroom">
                <div class="chatroom-content" id="chatroomContent">
                <div class="row m-4">
                    <div class="col-md-12 text-right">
                        <h4><span class="badge badge-light badge-pill">哈囉！</span></h4>
                    </div>
                    <div class="col-md-12">
                        <h4><span class="badge badge-light badge-pill">需要幫忙的嗎？</span>
                            <div class="row m-4"></div>
                        </h4>
                    </div>
                    <div class="col-md-12 text-right">
                            <h4><span class="badge badge-light badge-pill">A店家</span></h4>
                    </div>
                    <div class="col-md-12">
                        <h4><span class="badge badge-light badge-pill text-left">&nbsp;&nbsp;A店家<br>&nbsp;&nbsp;地址：XXX市XX路XXX號<br>&nbsp;&nbsp;電話：XX-XXXX-XOOO<br>&nbsp;&nbsp;營業時間：周一至周五<br>&nbsp;&nbsp;1030-1900</span>
                            <div class="row m-4"></div>
                        </h4>
                    </div>
                    <div class="col-md-12 text-right">
                        <h4><span class="badge badge-light badge-pill">B設計師</span></h4>
                    </div>
                    <div class="col-md-12">
                        <h4><span class="badge badge-light badge-pill text-left">B設計師<br>XX美髮店<br>地址：XXX市XX路XXX號</span>
                            <div class="row m-4"></div>
                        </h4>
                    </div>
                    <div class="col-md-12 text-right">
                        <h4><span class="badge badge-light badge-pill">被燙壞的頭髮該如何保養？</span></h4>
                    </div>
                    <div class="col-md-12">
                        <h4><span class="badge badge-light badge-pill text-left">每天洗完頭後可以塗抹護髮<br>油，來保護受損的頭髮，同<br>時也能鎖住頭髮的水分喔！<br>參考網址：<br><a href="">http://hair..........com</a></span>
                            <div class="row m-4"></div>
                        </h4>
                    </div>
                </div>
                </div>
                <div class="row p-2">
                <div class="col-md-12">
                    <div class="input-group">
                    <input class="form-control" type="text" id="inputMsg"/>
                    <div class="input-group-prepend">
                        <button class="btn btn-info" type="button" id="btnSend">Send</button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>