<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>設計師資訊</title>
        <script src="../static/js/navbar.js"></script>
        <link rel="stylesheet" href="../static/css/all-setting.css">
        <link rel="stylesheet" href="../static/css/weather.css">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="../fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
        <script src="../static/js/weather.js"></script>
    </head>

    <body>
        <div class="Splitter"> </div>
        <div id="content">
            <h2>天氣預報</h2>
            <div class="select-position">
                <h4 id="position">基隆市 中正區</h4>
                <select id="city">
                    <option>基隆市</option>
                </select>
                <select id="township">
                    <option>中正區</option>
                </select>
            </div>
            <div id="remind-text">
                今天降雨機率高，濕氣重，頭髮會吸收空氣中的濕氣，使得頭髮變的毛躁扁塌，<br>
                請小心讓頭髮被淋濕了！<br>
                回家也記得好好洗頭髮喔～
                
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">3/10</th>
                    <th scope="col">3/11</th>
                    <th scope="col">3/12</th>
                    <th scope="col">3/13</th>
                    <th scope="col">3/14</th>
                    <th scope="col">3/15</th>
                    <th scope="col">3/16</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">最低-最高溫度(℃)</th>
                    <td>
                        <img src="../static/img/weather/iconfinder_weather-10_809985.png"><br>
                        15 - 17
                    </td>
                    <td>
                        <img src="../static/img/weather/iconfinder_weather-03_809978.png"><br>
                        15 - 18
                    </td>
                    <td>
                        <img src="../static/img/weather/iconfinder_weather-04_809979.png"><br>
                        16 - 23
                    </td>
                    <td>
                        <img src="../static/img/weather/iconfinder_weather-05_809980.png"><br>
                        17 - 20
                    </td>
                    <td>
                        <img src="../static/img/weather/iconfinder_weather-05_809980.png"><br>
                        15 - 17
                    </td>
                    <td>
                        <img src="../static/img/weather/iconfinder_weather-02_809977.png"><br>
                        14 - 16
                    </td>
                    <td>
                        <img src="../static/img/weather/iconfinder_weather-02_809977.png"><br>
                        14 - 19
                    </td>
                </tr>
                <tr>
                    <th scope="row">體感溫度(℃)</th>
                    <td>11 - 15</td>
                    <td>11 - 15</td>
                    <td>13 - 21</td>
                    <td>15 - 21</td>
                    <td>11 - 15</td>
                    <td>11 - 12</td>
                    <td>11 - 16</td>
                </tr>
                <tr>
                    <th scope="row">平均相對溼度</th>
                    <td>83%</td>
                    <td>67%</td>
                    <td>84%</td>
                    <td>90%</td>
                    <td>80%</td>
                    <td>64%</td>
                    <td>63%</td>
                </tr>
                
                <tr>
                    <th scope="row">降雨機率</th>
                    <td>90%</td>
                    <td>10%</td>
                    <td>30%</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">紫外線指數(UVI)</th>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>3</td>
                    <td>2</td>
                    <td>6</td>
                    <td>6</td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>